/* dashboard-style.css */
/* dashboard-style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Change the background color for the page */
}

.buttons,
.my-form {
  display: flex;
  margin: auto;
  justify-content: center; /* Center horizontally */
  background-color: #ffffff; /* Change the background color for the forms */
  border-radius: 10px; /* Add rounded corners to the forms */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  width: 50%;
}

h2 {
  text-align: center;
  color: #333; /* Change the text color for h2 headings */
}

/* Style for input fields in the forms */
input[type="text"] {
  padding: 10px; /* Increase padding for better appearance */
  margin: 10px; /* Increase margin for better spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style for buttons in the forms */
button {
  padding: 10px 20px; /* Increase padding for better appearance */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Your existing styling for .laliga, .pl, .seriea, and their child containers remains unchanged */

.match {
  padding: 7px;
  width: 60%;
  margin: auto;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #00000a;
  text-align: center;
}
.team-sa,
.team,
.team-pl,
.vs,
.team-name,
.home,
.away {
  display: inline;
}
img {
  display: inline;
  vertical-align: middle;
  height: 50px;
}

.away,
.home {
  display: flex;
  width: 40%;
}
.pl .match {
  background: #37003c;
  color: aliceblue;
}
.seriea .match {
  background-color: rgb(255, 255, 255);
  color: blue;
  font: bolder;
}
.team-name {
  font: bolder;
  width: 70%;
  vertical-align: middle;
  text-align: center;
}
.laliga .team-name {
  font: message-box;
  color: rgb(255, 75, 68);
  width: 70%;
  vertical-align: middle;
  text-align: center;
}
.team-sa,
.team-pl,
.team {
  width: 30%;
}

.vs {
  color: white;
  width: 20%;
}
.seriea .vs {
  color: blue;
}
.team-sa p,
.team-pl p,
.team p,
.vs {
  display: inline;
  vertical-align: middle;
}

img {
  display: inline;
  vertical-align: middle;
  height: 50px;
}
